[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "PermutationR"]
	path = PermutationR
	url = https://github.com/ohabdalla1/permutationr
